#body
{
background-color: lightblue
}
#Head1 {
    text-align: center;
    font-family: "Georgia", Times, serif;
}
#Head2 {
    text-align: center;
    font-family: "Georgia", Times, serif;
    }
#Head3 {
        text-align: center;
        font-family: "Georgia", Times, serif;

}
#head4 {
  text-align: center;
  font-family: "Georgia", Times, serif;
}
#TypeHndle{
    text-align: center;
    font-family: "Georgia", Times, serif;
}
#ThnClckStr {
        text-align: center;
        font-family: "Georgia", Times, serif;
}
#form1 {
  text-align: center;
  font-family: "Georgia", Times, serif;}
#form2 {
    text-align: center;
  }

#demo {
  text-align: center;
  font-family: "Georgia", Times, serif;
}

#logo {
    width: 100px;
    height: 100px;
}

#startbttn {
  text-align: center;
  font-family: "Georgia", Times, serif;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 25px;
  background: white;}
}

#Output {
  text-align: center;
  font-family: "Georgia", Times, serif;
}

#mission{
  text-align: center;
  font-family: "Georgia", Times, serif;
  margin-right: 150px;
   margin-left: 80px;
}
.matrioska {
  margin: 3em auto;
  max-width: 520px;
  font-family: "Georgia", Times, serif;
}

h1 {
  font-family: "Georgia", Times, serif;
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  text-align: center;
  font-family: "Georgia", Times, serif;
}

h2 {
  margin-top: 2em;
}

p, li {
  line-height: 1.4;
}

.align-right {
  text-align: right;
  font-family: "Georgia", Times, serif;
}

li {
  margin-top: 0.5em;
}

del {
  text-decoration: line-through;
  font-family: "Georgia", Times, serif;
  display: none;
}

img {
  max-width: 100%;
}

.wrapper{
  text-align: center;
  float: inherit;
  font-family: "Georgia", Times, serif;
}

.loading {
  min-height: 50vh;
}

.loading-relative {
  position: relative;
}

.loading .blurred {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
  filter: blur(5px);
  width: 100%;
}

.loading-relative div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.loading-relative div img {
  display: block;
  margin: 20% auto;
}

#Acct1{
text-align: center;
  font-weight: bold;
width: 100px;
height: 50px;
border: 2px solid grey;
 border-radius: 25px;
 background: white;
 font-family: "Georgia", Times, serif;
 }
 #Acct2{
   text-align: center;
     font-weight: bold;
 font-family: "Georgia", Times, serif;
 width: 100px;
 height: 50px;
 border: 2px solid grey;
  border-radius: 25px;
  background: white;}
  #Acct3{
    text-align: center;
      font-weight: bold;
  font-family: "Georgia", Times, serif;
  width: 100px;
  height: 50px;
  border: 2px solid grey;
   border-radius: 25px;
   background: white;}
   #Acct4{
     font-family: "Georgia", Times, serif;
       font-weight: bold;
     text-align: center;
   width: 100px;
   height: 50px;
   border: 2px solid grey;
    border-radius: 25px;
    background: white;}
    #Acct5{
      text-align: center;
        font-weight: bold;
    font-family: "Georgia", Times, serif;
    width: 100px;
    height: 50px;
    border: 2px solid grey;
     border-radius: 25px;
     background: white;}
     #Acct6{
       text-align: center;
         font-weight: bold;
     font-family: "Georgia", Times, serif;
     width: 100px;
     height: 50px;
     border: 2px solid grey;
      border-radius: 25px;
      background: white;}
      #Acct7{
        text-align: center;
          font-weight: bold;
      font-family: "Georgia", Times, serif;
      width: 100px;
      height: 50px;
      border: 2px solid grey;
       border-radius: 25px;
       background: white;}

       #Acct8{
         text-align: center;
      font-weight: bold;
       font-family: "Georgia", Times, serif;
       width: 100px;
       height: 50px;
       border: 2px solid grey;
        border-radius: 25px;
        background: white;}
